# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/frontEnd/node_modules
/backEnd/node_modules
/frontEnd/.pnp
/frontEnd/.pnp.js

# testing
/frontEnd/coverage

# production
/frontEnd/build
#env
/frontEnd/.env
/backEnd/.env
# misc
/frontEnd/.DS_Store
/frontEnd/.env.local
/frontEnd/.env.development.local
/frontEnd/.env.test.local
/frontEnd/.env.production.local

/frontEnd/npm-debug.log*
/frontEnd/yarn-debug.log*
/frontEnd/yarn-error.log*
