.button-65 {
  appearance: none !important;
  backface-visibility: hidden !important;
  background-color: #e7620a !important;
  border-radius: 10px !important;
  border-style: none !important;
  box-shadow: none !important;
  box-sizing: border-box !important;
  color: #fff !important;
  cursor: pointer !important;
  display: inline-block !important;
  font-family: Inter, -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif !important;
  font-size: 15px !important;
  font-weight: 500 !important;
  height: 50px !important;
  letter-spacing: normal !important;
  line-height: 1.5 !important;
  outline: none !important;
  overflow: hidden !important;
  padding: 14px 30px !important;
  position: relative !important;
  text-align: center !important;
  text-decoration: none !important;
  transform: translate3d(0, 0, 0) !important;
  transition: all 0.3s !important;
  user-select: none !important;
  -webkit-user-select: none !important;
  touch-action: manipulation !important;
  vertical-align: top !important;
  white-space: nowrap !important;
}

.button-65:hover {
  background-color: #d15b0c;
  box-shadow: rgba(0, 0, 0, 0.05) 0 5px 30px, rgba(0, 0, 0, 0.05) 0 1px 4px;
  opacity: 1;
  transform: translateY(0);
  transition-duration: 0.35s;
}

.button-65:hover:after {
  opacity: 0.5;
}

.button-65:active {
  box-shadow: rgba(0, 0, 0, 0.1) 0 3px 6px 0, rgba(0, 0, 0, 0.1) 0 0 10px 0, rgba(0, 0, 0, 0.1) 0 1px 4px -1px;
  transform: translateY(2px);
  transition-duration: 0.35s;
}

.button-65:active:after {
  opacity: 1;
}

@media (min-width: 768px) {
  .button-65 {
    padding: 14px 22px;
    width: 176px;
  }
}

.jumbotron {
  margin-top: 1rem;
  padding: 2rem;
  position: relative;
}

.banner {
  margin-top: 2rem;
  height: 50%;
  width: 100%;
  border-radius: 50px;
  background-color: rgb(255, 237, 71);
}
.banner-image {
  width: 400px;
  height: 400px;
  margin-left: 50px;
  border-radius: 100%;
}

.jumbotron .tag-line {
  padding: 5rem;
}
.image-decoration {
  animation: MoveUpDown 3s ease-in-out infinite;
  position: absolute;
  width: 8%;
  right: 80px;
  bottom: 10px;
  transform: rotate(45deg);
  /* transform: translate(-50%, -50%); */
}
.image-decoration-2 {
  animation: MoveUpDown2 3s ease-in-out infinite;
  position: absolute;
  width: 6%;
  right: 45%;
  bottom: 10px;
  transform: rotate(-45deg);
  /* transform: translate(-50%, -50%); */
}

@keyframes MoveUpDown2 {
  from {
    transform: rotate(-45deg) translate(0, 0px);
  }
  65% {
    transform: rotate(-45deg) translate(0, 15px);
  }
  to {
    transform: rotate(-45deg) translate(0, -0px);
  }
}
@keyframes MoveUpDown {
  from {
    transform: rotate(45deg) translate(0, 0px);
  }
  65% {
    transform: rotate(45deg) translate(0, 15px);
  }
  to {
    transform: rotate(45deg) translate(0, -0px);
  }
}
